<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28266470976-218e0pcio6p7o07dldd1ss5gjd9tvdbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28266470976-218e0pcio6p7o07dldd1ss5gjd9tvdbf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>28266470976-d87ntmvgo3edao142lev3kk2or2h02ma.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHS1iWhANa6Ydo9pC7TuJUMFTv41wpiSY</string>
	<key>GCM_SENDER_ID</key>
	<string>28266470976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.medminder.medminder</string>
	<key>PROJECT_ID</key>
	<string>medminder1908</string>
	<key>STORAGE_BUCKET</key>
	<string>medminder1908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28266470976:ios:ba0c7642473639c2d249a5</string>
</dict>
</plist>